openapi: 3.1.0
info:
  title: Google Distributed Cloud Edge Network Networks Subnets API
  description: The Distributed Cloud Edge Network API provides programmatic access to manage networking resources for Google Distributed Cloud connected deployments at the edge. It supports creating and managing networks, subnets, routers, and interconnect attachments for edge locations.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/distributed-cloud/edge/latest/docs
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://edgenetwork.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: Subnets
  description: Operations for managing subnets within edge networks
paths:
  /projects/{projectId}/locations/{location}/zones/{zone}/subnets:
    get:
      operationId: listSubnets
      summary: Google Distributed Cloud List subnets
      description: Lists all subnets in the specified zone.
      tags:
      - Subnets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: zone
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubnetsResponse'
    post:
      operationId: createSubnet
      summary: Google Distributed Cloud Create a subnet
      description: Creates a new subnet in the specified zone.
      tags:
      - Subnets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: zone
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subnet'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Subnet:
      type: object
      description: An edge subnet resource.
      properties:
        name:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        labels:
          type: object
          additionalProperties:
            type: string
        description:
          type: string
        network:
          type: string
          description: The network this subnet belongs to.
        ipv4Cidr:
          type: array
          items:
            type: string
          description: IPv4 CIDR ranges for the subnet.
        ipv6Cidr:
          type: array
          items:
            type: string
          description: IPv6 CIDR ranges for the subnet.
        vlanId:
          type: integer
          description: VLAN ID for the subnet.
    ListSubnetsResponse:
      type: object
      properties:
        subnets:
          type: array
          items:
            $ref: '#/components/schemas/Subnet'
        nextPageToken:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: Distributed Cloud Edge Network API Documentation
  url: https://cloud.google.com/distributed-cloud/edge/latest/docs/apis
