openapi: 3.1.0
info:
  title: Google Distributed Cloud Edge Network Networks API
  description: The Distributed Cloud Edge Network API provides programmatic access to manage networking resources for Google Distributed Cloud connected deployments at the edge. It supports creating and managing networks, subnets, routers, and interconnect attachments for edge locations.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/distributed-cloud/edge/latest/docs
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://edgenetwork.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: Networks
  description: Operations for managing edge networks
paths:
  /projects/{projectId}/locations/{location}/zones/{zone}/networks:
    get:
      operationId: listNetworks
      summary: Google Distributed Cloud List networks
      description: Lists all networks in the specified zone.
      tags:
      - Networks
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: zone
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponse'
    post:
      operationId: createNetwork
      summary: Google Distributed Cloud Create a network
      description: Creates a new network in the specified zone.
      tags:
      - Networks
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: zone
        in: path
        required: true
        schema:
          type: string
      - name: networkId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    ListNetworksResponse:
      type: object
      properties:
        networks:
          type: array
          items:
            $ref: '#/components/schemas/Network'
        nextPageToken:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
    Network:
      type: object
      description: An edge network resource.
      properties:
        name:
          type: string
          description: The resource name of the network.
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        labels:
          type: object
          additionalProperties:
            type: string
        description:
          type: string
        mtu:
          type: integer
          description: Maximum transmission unit in bytes.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: Distributed Cloud Edge Network API Documentation
  url: https://cloud.google.com/distributed-cloud/edge/latest/docs/apis
